<!DOCTYPE html>
<html lang="en" dir="ltr">
  	<head>
    	<meta charset="utf-8">
    	<title>File Sharing</title>
    	<link href="/css/sites.css" rel="stylesheet" type="text/css">
  	</head>
  	<body>
    	<nav>
        <a href="/index">Main</a>
        <a href="/dangers">Dangers</a>
        <a href="/sharing">Sharing</a>
        <a href="/login">Sign in</a>
        <a href="/register">Sign Up</a>
    	</nav>
    	<article class="site">
      		<h1 id ="dropboxhead">Dropbox</h1>
      		<img src="../images/dropboxlogo.png" id="dropimg" alt="Logo of Dropbox">

      		<p>Dropbox was realised in june 2007. Developt by Dropbox Inc. The most latest version supports
      		Windows, Linux and MacOS. It was programed in python an C++. Dropbox had approximately 12.7 milion
      		customers in 2018 and made about 1,39 billions US-Dollars. Most people just store data for themself without publishing it (cloud) but yuo can also share your
          files with an simple link.
          Your free 2 GB can easily be expanded by paying most commonly 10 to 15 euros per month<br><br>
      	  <a href="./sharing.html" class="backbutton">Back</a>
			</p>
    	</article>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="logout" type="submit">Log Out</button>
    </body>
</html>
