<!DOCTYPE html>
<html lang="en" dir="ltr">
  	<head>
    	<meta charset="utf-8">
    	<title>File Sharing</title>
    	<link href="/css/sites.css" rel="stylesheet" type="text/css">
  	</head>
  	<body>
    	<nav>
        <a href="/index">Main</a>
        <a href="/dangers">Dangers</a>
        <a href="/sharing">Sharing</a>
        <a href="/login">Sign in</a>
        <a href="/register">Sign Up</a>
    	</nav>
    	<article class="site">
      		<h1 id ="droplrhead">Droplr</h1>
      		<img src="../images/droplr.png" id="dropimg" alt="Logo of Droplr">
      		<p>
			When it is about file sharing it is basically a platform like all the others because files can be stored an shared per link.
      Additionally Droplr offers a service tha allows you to quickly share your screenshots and edit them.
      This is one of the main functions and is usually used to underline your statements with pictures or make the communication in small teams faster.<br><br>
			<a href="./sharing.html" class="backbutton">Back</a>
      		</p>
    	</article>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="logout" type="submit">Log Out</button>
    </body>
</html>
