<!DOCTYPE html>
<html>
<head>
  <title>FilePond from CDN</title>

  <!-- Filepond stylesheet -->
  <link href="/css/filesharing.css" rel="stylesheet" type="text/css">
  <link href="/css/draganddrop.css" rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js" ></script>
  <script defer type="text/javascript" src="../filesharing.js"></script>

</head>
<body>
  <nav>
    <a href="/index">Main</a>
    <a href="/dangers">Dangers</a>
    <a href="/sharing">Sharing</a>
    <a href="/login">Sign in</a>
    <a href="/register">Sign Up</a>
    <a href="filesharing">filesharing</a>
  </nav>
  <p>__</p>
  <main>
    <h2 class = "headline">Upload your file</h2>
    <br>
    <section class = "row">
      <section class = "column left">
        <section class="draganddrop">

          <input type="file" class="filepond"></input>

          <!-- Load FilePond library -->
          <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

          <!-- Turn all file input elements into ponds -->
          <script>
          FilePond.parse(document.body);
          </script>
        </section>
      </section>
      <section class = "column right">
        <h2>Hier werden die Files angezeigt!</h2>
      </section>
    </section>
    <form action="/logout?_method=DELETE" method="POST">
      <button class="logout" type="submit">Log Out</button>
  </main>
  <!-- We'll transform this input into a pond -->


</body>
</html>
