<!DOCTYPE html>
<html lang="en" dir="ltr">
  	<head>
    	<meta charset="utf-8">
    	<title>File Sharing</title>
    	<link href="/css/sites.css" rel="stylesheet" type="text/css">
  	</head>
  	<body>
    	<nav>
        <a href="/index">Main</a>
        <a href="/dangers">Dangers</a>
        <a href="/sharing">Sharing</a>
        <a href="/login">Sign in</a>
        <a href="/register">Sign Up</a>
    	</nav>
    	<article class="site">
      		<h1 id ="googledrivehead">Google Drive</h1>
      		<img src="../images/googleDrive.png" id="dropimg" alt="Logo of GoogleDrive" class="FadeIn">
      		<p>Motto: Always ready to use anywhere</p>
      		<p>Google Drive was realised in Oktober 2006. The development was fully made by Google. You can use Google drive everywhere  on every device and operating system.
      		It was not intended as an filesharing website but you have the funktion to share your files with a link or give someone directly access with your Google-Account. In 2018 they had more than 1 billion members and earned 5 billion US-Dollars.
          For 9,99 US-Dollar per month what is currently the biggest subscription you get 2 TB space.<br><br>
      		<a href="./sharing.html" class="backbutton">Back</a>
			</p>
    	</article>
    </body>
</html>
