<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>File Sharing</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <div class="parallax"></div>
    <nav>
      <a href="index">Main</a>
      <a href="dangers">Dangers</a>
      <a href="sharing">Sharing</a>
      <a href="login">Sign in</a>
      <a href="register">Sign Up</a>
      <a href="filesharing">filesharing</a>
    </nav>
        <section>
          	<h1>File Sharing</h1>
          	<h2>Our Motivation:</h2>
          	<article>
            	<p>Why have we chosen "File Sharing" as our topic?</p>
            	<p>Because we believe that information should be free and available for everyone at any given time</p>
            	<p>We try to provide an easy way to share your files!</p>
          	</article>
          	<h2>What should our Website do?</h2>
          	<article>
            	<p>First of all it should be simple and user-friendly but still have a certain amount of style.</p>
            	<h3>Focus in the 1. term:</h3>
              	<p>The first thing to implement will be static HTML-Site which will be
                 made fancier by using css.</p>
                 <p>We will write content to explain the risks of file sharing
                 and present some big file-sharing-plattforms.
              	</p>
            	<h3>Focus in the 2. term:</h3>
            	<p>When the whole graphical part is over wes will start to set up a server</p>
               	<p>where everyony can down and upload his stuff and</p>
               	<p>we will (possibly) create an Login-system with e-mail verification.
            	</p>
          	</article>
          	<h2>Topics we will discuss in our Presentation:</h2>
          	<article>
            	<ul>
              		<li>What is file sharing?</li>
              		<li>Why did we choose it?</li>
              		<li>Dangers of file sharing</li>
              		<li>Advanteges of file sharing</li>
              		<li>Big file sharing plattforms</li>
            	</ul>
       		</article>
    	</section>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="logout" type="submit">Log Out</button>
  </body>
</html>
