<!DOCTYPE html>
<html lang="en" dir="ltr">
  	<head>
    	<meta charset="utf-8">
    	<title>File Sharing</title>
    	<link href="/css/sites.css" rel="stylesheet" type="text/css">
  	</head>
  	<body>
    	<nav>
        <a href="/index">Main</a>
        <a href="/dangers">Dangers</a>
        <a href="/sharing">Sharing</a>
        <a href="/login">Sign in</a>
        <a href="/register">Sign Up</a>
    	</nav>
    	<article class="site">
      		<h1 id ="megahead">Mega</h1>
      		<img src="../images/mega-icon.png" id="dropimg" alt="Logo of Mega">
      		<p>Motto: The Privacy Company</p>
      		<p>Mega (Recursive acronym for Mega Encrypted Global Access) was realised in August 2013. Originally developed by Kim Dotcom whho sold the website in 2015. <br>
        	the idea was to make a website that can encrypt your data as good as possible. Now Mega has more than 100 milion <br>
        	active users and a gain of 263 million US-Dollars per year.</p>
        	<p>Fun fact: if you find a coding mistake, you will get round about 10.000 US-Dollars.<br><br>
          <a href="./sharing.html" class="backbutton">Back</a>
			</p>
    	</article>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="logout" type="submit">Log Out</button>
    </body>
</html>
