<!DOCTYPE html>
<html lang="en" dir="ltr">
  	<head>
    	<meta charset="utf-8">
    	<title>File Sharing</title>
    	<link href="/css/sites.css" rel="stylesheet" type="text/css">
  	</head>
  	<body>
    	<nav>
        <a href="index">Main</a>
        <a href="dangers">Dangers</a>
        <a href="sharing">Sharing</a>
        <a href="login">Sign in</a>
        <a href="register">Sign Up</a>
        <a href="filesharing">filesharing</a>
    	</nav>
    	<article class="site">
      		<h1 id ="NextCloudhead">NextCloud</h1>
      		<img src="../images/nextcloud.png" id="dropimg" alt="Logo of NextCloud" class="FadeIn">
      		<p>
            NextCloud is a german file sharing website what was programmed in JavaScript and PHP. The usage and handling are nearly similar to other big file sharing websites
            but there is a huge NextCloud and all other listed services because it is an free open-source programme everybody can download for his server.
			<br><br>
			<a href="./sharing.html" class="backbutton">Back</a>
      		</p>
    	</article>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="logout" type="submit">Log Out</button>
    </body>
</html>
