<!DOCTYPE html>
<html lang="en" dir="ltr">
  	<head>
    	<meta charset="utf-8">
    	<title>File Sharing</title>
    	<link href="/css/sharing.css" rel="stylesheet" type="text/css">
  	</head>
  	<body>
      <div class="parallax"></div>
      	<nav>
          <a href="/index">Main</a>
          <a href="/dangers">Dangers</a>
          <a href="/sharing">Sharing</a>
          <a href="/login">Sign in</a>
          <a href="/register">Sign Up</a>
      	</nav>
      	<article class="Contant">
        	<h1 class="ueberschrift">Sharing Platforms</h1>
        	<p>There are a lot of different file sharing websites on the Internet. On this page we will give you a brief overview about some of the most important.
          	Few of them are free to use and even less are free of illegal content. We rate the pages based on their price, appearance
          	and beginner friendliness.<br> Our rating system is equivalent to an austrian school marks.
        	</p>
        	<img src="../images/File-sharing-600x450.jpg" class="img" alt="Two laptops exchange files.">
        	<section id="buttons">
          		<h2 id="ueberschrift2">Most popular Sites</h2>
          		<ul id="a">
                <li><a href="./googledrive.html" class="button">Google Drive</a></li>
                <li><a href="./NextCloud.html" class="button">NextCloud</a></li>
                <li><a href="./dropbox.html" class="button">Dropbox</a></li>
                <li><a href="./droplr.html" class="button">droplr</a></li>
                <li><a href="./mega.html" class="button">Mega</a></li>
            	</ul>
        	</section>
      </article>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="logout" type="submit">Log Out</button>
    </body>
</html>
